mixin createFilter(optionList)
    details
        summary Фильтр
        .rowFlex
            p=optionList[0]
            input(type="text")
        .rowFlex
            p=optionList[1]
            p oт
            input(type="number")
            p до
            input(type="number")
        .rowFlex
            p=optionList[2]
            p oт
            input(type="number")
            p до
            input(type="number")
        .rowFlex
            p=optionList[3]
            input(type="text")
        .rowFlex
            p=optionList[4]
            p oт
            input(type="number")
            p до
            input(type="number")

