extends template
block variables

    -   var title = 'Список самых больших городов'

    -   const sortingOptionList = ["Нет","Название города","Население","Площадь","Префектура","Год основания"]
    -   const filterOptionList = ["Название города:","Население:","Площадь:","Префектура:","Год основания:"]
    -   const graphOptionList = ["Население","Площадь","Год основания","Максимальное население","Максимальная пощадь", "Количество построенных городов по году основания"]

    -   const columnNames = ["Название города","Население","Площадь","Префектура","Год основания"]

    -   const cityNames = ["Токио","Иокогама","Осака","Нагоя","Саппоро","Кобе","Киото","Фукуока","Кавасаки","Сайтама","Хиросима","Сендай","Китакюсю","Тиба","Сэтагая","Сакаи","Ниигата","Хамамацу","Сидзуока","Сагамихара","Нэрима","Окаяма","Ота","Кумамото","Эдогава","Адати","Кагосима","Фунасаби"]
    -   const population = ["37435191","3697894","2668586","2283289","1918096","1530847","1474570","1430371","1373630","1192418","1163806","1029552","986998","938695","855416","835333","813053","811431","710944","706342","702202","701293","674590","670348","661386","629392","605196","605196","586762"]
    -   const area = ["621.81","437.38","222.30","326.45","1710.00","552.23","827.90","340.96","142.70","217.49","905.13","783.54","487.71","272.08","58.08","149.99","726.10","1511.17","1388.78","328.84","48.16","789.91","59.46","267.23","49.86","53.20","547.06","85.64"]
    -   const prefecture = ["Токио","Каганава","Осака","Айти","Хоккайдо","Хиого","Киото","Фукуока","Каганава","Сайтама","Хиросима","Мияги","Фукуока","Тиба","Токио","Осака","Ниигата","Сидзуока","Сидзуока","Каганава","Токио","Окаяма","Токио","Кумамото","Токио","Токио","Кагосима","Тиба"]
    -   const foundation = ["1869","1889","1889","1889","1922","1889","1889","1889","1924","2001","1889","1889","1963","1921","1947","1889","1889","1911","1889","1954","1947","1889","1947","1947","1889","1947","1889","1937"]
block content

    .options
        include mixins/Sorting
        +createSorting(sortingOptionList)

        include mixins/Filter
        +createFilter(filterOptionList)

        include mixins/Graph
        +createGraph(graphOptionList)

    -   var i = 0
    .tableBlock
        table
            tr
                each name in columnNames
                    th=name
            while i < 28
                tr
                    td=cityNames[i]
                    td=population[i]
                    td=area[i]
                    td=prefecture[i]
                    td=foundation[i]
                - i++

                















